<!-- will communicate with base.html then ? -->
{% extends 'shared/base.html'%}

{% block content %}

<!-- Header Section -->
<div class='container'>
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's build the future of car collecting together!</h2>
            <h5> Create an amazing API tool for car collecting people</h5>
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        <!-- header image-->
        <div class="col-12 col-md-6">
            <img class="header-image" src="../static/images/undraw_online_transactions_02ka.svg" alt='Hero Header Image'
                </div>
    </header>
    <!-- Header Section End -->
    <!-- Middle Section  -->

    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Car Collection!</h2>
            <p>You can harness the power of an API to expand your collection!</p>

        </div>
    </section>

    <!-- Middle Section End  -->
    <!-- Collection of Features Section -->

    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../static/images/undraw_factory_dy0a.svg" alt="API Image" id="api-image">
            <h4>Urgent Car Route</h4>
            <p>
                If you are a fan of traditional car routes, we have those for you!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/undraw_town_r6pc.svg" alt="graphql-image" id="graphql-image">
            <h4>Dedicated Support Routes</h4>
            <p>
                If you want ALL dedicated services from one enpoint, we have that too!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../static/images/undraw_navigator_a479.svg" alt="database-image" id="database-image">
            <h4>Regular Support Routes</h4>
            <p>
                All regular routes provide normal services. 
            </p>

        </div>
    </section>
    <!-- Collection of Features Section End -->

    <!-- Community Section Begin -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../static/images/undraw_personal_info_0okl.svg" alt="Drone Image" id="Drone-image">
        </div>

        <div class="col-12 col-md-6">
            <h4>Set up an Account Now!</h4>
            <p>
                Talk with other devs around the world and collab on projects with your car data.
                Join our slack channel and give a star to the project on Github!
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join our Slack Channel!</button>

            </div>


        </div>
    </section>
    <!--  Community Section End-->

    <!--  Footer Begin -->

    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../static/images/undraw_Order_ride_re_372k.svg" alt="order_ride" id='footer-logo'>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>



</div>






{% endblock content %}